
body {
  font-family: "Permanent Marker", cursive;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#tooltip{
  position: fixed;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 20px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.col-6.locked:hover #tooltip{
  opacity: 1;
  visibility: visible;
}
.menu {
  /* border-bottom: 1px solid #ccc; */
  background-color: rgba(22, 22, 23, .8);
  margin-bottom: 50px;
}
#bienvenida{
  padding-top: 50px;
}

.nav-link {
  color: #E8E8ED;
}

.nav-link:hover {
  color: #ffffff;
}

.contenedores-juegos {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: calc(50vh - 21px); /* Restamos la altura del nav bar (40px es un valor aproximado) */
  border: 1px solid #000;
  overflow: hidden; /* Evita el scroll dentro del contenedor */
  position: relative; /* Añadido para posicionar el candado correctamente */
}

object {
  width: 100%;
  height: 100%;
}

.lock-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px; /* Ajusta el tamaño según sea necesario */
  height: 80px; /* Ajusta el tamaño según sea necesario */
  z-index: 1; /* Asegura que el candado esté sobre el contenido */
}

.lock-image {
  width: 100%;
  height: 100%;
}

.content-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.blurred-background {
  filter: blur(5px); /* Ajusta el desenfoque según sea necesario */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Asegura que el fondo difuminado esté detrás del contenido y el candado */
}