body {
    padding-top: 70px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #CFEBFC;
}

nav {
    height: 40px;
    font-size: 15px;
}

nav img {
    height: 30px;
    width: auto;
}

nav li {
    margin-right: 20px;
}

nav a:hover {
    color: black;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-nav a {
    text-decoration: none;
    color: rgb(70, 67, 67);
    display: flex;
    align-items: center;
}

.card {
    margin-top: 150px;
}

.card-header {
    background-color: #3EAEF4;
}

h4 {
    color: white;
}

.card-body {
    background-color: #9FD7F9;
}

.btn-custom {
    background-color: #3EAEF4;
}