body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-image: url('img/europahd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* FOOTER */

.stage-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #D95ED0; /* Nuevo color de fondo del footer con backdrop filter */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px); /* Añadido un backdrop filter */
}

.col {
    display: flex;
    align-items: center;
}

.col.left {
    justify-content: flex-start;
}

.col.center {
    flex-grow: 1; /* Ocupa el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}


.button{
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Color del texto del botón */
    border-radius: 5px;
}

.button {
    background-color: #007bff; /* Color del botón Info y Home */
    margin-right: 10px; /* Espaciado entre botones */
}

.try-again {
    background-color: transparent; /* Fondo transparente para el botón Try Again */
    border: none;
    cursor: pointer;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score #score {
    margin-right: 5px; /* Ajusta el margen según tus preferencias */
}

.score .title {
    font-weight: bold;
}

.score a {
    color: #fff; /* Color del enlace "Try Again" */
    text-decoration: underline;
    cursor: pointer;
}

.score a:hover {
    text-decoration: none;
}







.game-container {
    border: 5px solid #8B4513;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    background-color: #FFF;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    transition: transform 0.3s;
}

.reintentar-container {
    text-align: center;
    margin-top: 10px;
}

#reintentarBtn {
    padding: 10px;
    display: none;
}

.iluminado {
    background-color: #b3e6b3; /* Color de fondo para resaltar conexiones activadas */
}
