body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-image: url('img/europahd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-container {
    border: 5px solid #8B4513;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    background-color: #FFF;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    transition: transform 0.3s;
}

.reintentar-container {
    text-align: center;
    margin-top: 10px;
}

#reintentarBtn {
    padding: 10px;
    display: none;
}


/* 

.pipe {
    position: absolute;
    width: 490px;
    height: 490px;
    z-index: 2;
}

.inicio {
    top: -42%;
    left: -130%;
    transform: translate(102.5%, -58%);
}

.final {
    bottom: -42%;
    right: -130%;
    transform: translate(-102.5%, 58%); 
} */