body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    background-image: url('img/europahd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #000;
    margin-top: 100px;
    position: absolute;
    top: -5px;
    left: 50%;
    font-family: Helvetica;
    transform: translateX(-50%);
    z-index: 4;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    animation: neon-glow 1.5s infinite alternate;
}
.h2t {
    color: #000;
    margin-top: 100px;
    position: absolute;
    top: 55px;
    left: 50%;
    font-family: Helvetica;
    transform: translateX(-50%);
    z-index: 4;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    animation: neon-glow 1.5s infinite alternate;
}

@keyframes neon-glow {
    to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    }
}


/* FOOTER */

.stage-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* Ajusta el padding según tus preferencias */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #D89DBB;
    /* Ajusta el color de fondo según tus preferencias */
}

.col {
    flex: 1;
}

.col.left {
    text-align: left;
    margin-right: 10px;
    /* Ajusta el margen según tus preferencias */
}

.col.center {
    text-align: center;
}

.col.right {
    text-align: right;
    margin-left: 10px;
    /* Ajusta el margen según tus preferencias */
}

.button {
    font-size: 36px;
    text-decoration: none;
    padding: 16px 28px;
    /* Ajusta el padding según tus preferencias */
    margin: 0 150px;
    /* Ajusta el margen según tus preferencias */
    padding: 10 38px;
    border-radius: 4px;
    color: white;
    /* Ajusta el color del texto según tus preferencias */
    background-color: #d989b2;
    /* Ajusta el color de fondo según tus preferencias */
    display: inline-block;
    transition: background-color 0.3s ease;
    /* Añade una transición suave */
}

.button:hover {
    background-color: #d973a8;
    /* Color más claro al pasar el mouse */
}


.score span.title {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.score span {
    color: white;
}

.score span#score {
    font-size: 40px;
    display: inline-block;
    color: white;
    padding-bottom: 25px;
    margin-bottom: -7px;
    text-align: right;
    position: relative;
}

.score span.total {
    font-size: 40px;
    display: inline-block;
    color: white;
}

.score span#score:after {
    content: '/';
    color: var(--z6);
    display: inline-block;
    position: relative;
    left: 4px;
}

.score {
    display: inline-block;
}

.title {
    font-weight: bold;
    margin-right: 5px;
    /* Ajusta el margen según tus preferencias */
}

.total {
    font-weight: normal;
}


/* POP UP */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    /* Opacidad del contenido del popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
}



/* POP UP SOLUCION */
.popup-solucion {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
}

.popup-content-solucion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    /* Opacidad del contenido del popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    /* Alinea los elementos verticalmente */
    align-items: center;
    justify-content: flex-end;
    /* Coloca los elementos al final del contenedor */
}

.popup-content-solucion p {
    margin-bottom: 20px;
}

.popup-solucion button {
    margin-top: 10px;
    padding: 15px 30px; /* Ajusta el tamaño de los botones */
    border-radius: 8px; /* Borde redondeado */
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo transparente */
    border: 1px solid #ccc; /* Borde del botón */
    backdrop-filter: blur(5px); /* Blur para el botón */
    transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

.popup-solucion button:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Color más claro al pasar el mouse */
}

.popup-solucion .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/*  Otro pop up, el de arriba ns k hace aqui  */

.popup-text {
    flex: 1;
    padding-right: 20px;
}

.popup-image {
    flex-shrink: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: red;
}


/* contenedor juego */
.game-container {
    border: 5px solid #8B4513;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888;
    background-color: #FFF;
    position: relative;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* botones */
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    transition: transform 0.3s;
}