nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav img {
    height: 65px;
    width: auto;
    margin-right: 10px;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navbar-nav li {
    text-align: center;
    list-style: none;
}

.navbar-nav a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav i {
    margin-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

#presentacion {
    height: 800px;
    background-color: pink;
    padding-top: 100px;
}

#juegos {
    height: 800px;
    background-color: yellow;
    padding-top: 110px;
}

#creditos {
    height: 800px;
    background-color: #9e9e9e;
    padding-top: 100px;
}

.juego {
    height: 300px;
    width: 300px;
    background-color: lightblue;
    margin: 80px;
    display: inline-block;
    
}