body {
    background-image: url('../img_carrusel/kenia.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Garamond;
}

.container {
    flex: 1;
}

h1 {
    color: white;
    font-family: Helvetica;
}

.card-header {
    background-color: #FCF600;
    color: white;
}

.btn {
    background-color: #FCF600;
    color: white;
    margin-top: 20px;
    font-family: Garamond;
}

.btn:hover {
    background-color: #FCF600; /* Mantiene el color del fondo al pasar el ratón por encima */
    color: white;
}