body {
    text-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Permanent Marker", cursive;
}

.contenedor-principal {
    border: 2px solid black;
    width: 900px;
    height: 650px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: center; /* Centra verticalmente los elementos */
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.tituloBienvenida,
.descripcionBienvenida {
    font-family: "Permanent Marker", cursive;
    margin: 10px; /* Ajusta según sea necesario */

}
.textoPresionarBoton {
    margin-top: 250px;
    font-family: "Permanent Marker", cursive;
}

.gifFlecha {
    width: 45px;
    height: auto;
    margin-top: 5px;
}

@media screen and (max-width: 600px) {
    .textoPresionarBoton {
        margin-top: 10px; /* Ajusta el margen para pantallas más pequeñas */
    }

    .gifFlecha {
        width: 50px; /* Ajusta el tamaño del gif para pantallas más pequeñas */
    }
}

.bienvenida.activa {
    backdrop-filter: blur(5px); /* Ajusta el valor de desenfoque según sea necesario */
    transition: backdrop-filter 1s ease; /* Añade una transición suave */
}

.bienvenida p {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botonIniciarJuego {
    margin-top: 10px;
    border: 0;
    background-image: linear-gradient(
        90deg, 
        #878787, 
        #9e9e9e,
        #cfcfcf
        );
    border-radius: 8px;
    color: rgb(24, 24, 24);
    font-size: 22px;
    padding: 8px;
    cursor: pointer;
    transition: .3s;
}



.botonIniciarJuego:active{
    transform: scale(0.95);
}