body {
    background-image: url("./img/FondoIndia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    text-align: center;
}

.container {
    height: 660px;
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.containerPregunta {
    position: relative;
    height: 300px;
    width: 960px;
    border: solid 2px black;
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    font-size: 30px;
}

.containerRespuesta {
    position: relative;
    height: 300px;
    width: 960px;
    border: solid 2px black;
    margin: 20px 20px 10px 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 20px;
}

.respuesta {
    margin: 15px 10px;
    display: flex;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    justify-content: center;
    align-items: center;
}

/* FOOTER */

.stage-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* Ajusta el padding según tus preferencias */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FCF600;
    /* Ajusta el color de fondo según tus preferencias */
}

.col {
    flex: 1;
}

.col.left {
    text-align: left;
    /* Ajusta el margen según tus preferencias */
}

.col.center {
    text-align: center;
}

.col.right {
    text-align: right;
    /* Ajusta el margen según tus preferencias */
}

.button {
    font-size: 36px;
    text-decoration: none;
    padding: 16px 28px;
    /* Ajusta el padding según tus preferencias */
    margin: 0 150px;
    /* Ajusta el margen según tus preferencias */
    padding: 10 38px;
    border-radius: 4px;
    color: white;
    /* Ajusta el color del texto según tus preferencias */
    background-color: #393E4C;
    /* Ajusta el color de fondo según tus preferencias */
    display: inline-block;
    transition: background-color 0.3s ease;
    /* Añade una transición suave */
}

.button:hover {
    background-color: #474C59;
    /* Color más claro al pasar el mouse */
}

.score span.title {
    font-size: 18px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.score span {
    color: #393E4C;
}

.score span#score {
    font-size: 40px;
    display: inline-block;
    color: #393E4C;
    padding-bottom: 25px;
    margin-bottom: -7px;
    text-align: right;
    position: relative;
}

.score span.total {
    font-size: 40px;
    display: inline-block;
    color: #393E4C;
}

.score span#score:after {
    content: '/';
    color: var(--z6);
    display: inline-block;
    position: relative;
    left: 4px;
}

.score {
    display: inline-block;
}

.title {
    font-weight: bold;
    margin-right: 5px;
    /* Ajusta el margen según tus preferencias */
}

.total {
    font-weight: normal;
}


/* POP UP */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    /* Opacidad del contenido del popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    align-items: center;
}

.popup-text {
    flex: 1;
    /* Hace que este div ocupe todo el espacio disponible */
    padding-right: 20px;
    /* Ajusta el espacio entre el texto y la imagen según tus preferencias */
}

.popup-image {
    flex-shrink: 0;
    /* Evita que la imagen se reduzca para ajustarse al espacio disponible */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}